spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://localhost:5433/clinic_booking
    username: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
